<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:value]} type="text" label="Value" />
  <:actions>
    <.value_editing_button>Save Value</.value_editing_button>
  </:actions>
</.simple_form>
