<.header>
  New Currency
  <:subtitle>Add a new currency to the database</:subtitle>
</.header>

<.currency_form changeset={@changeset} action={~p"/currencies"} />

<.back navigate={~p"/currencies"}>Back to currencies</.back>
